.navbar {
  background: linear-gradient(240deg, rgb(166, 171, 248), rgb(76, 104, 225), rgb(0, 6, 128));
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.img-home {
  margin-left: 10px;
  border-radius: 50%;
}

.container h2 {
  text-align: center;
  margin: 25px auto;
}

.nav-link {
  margin-left: 50%;
  margin-top: 8px;
  font-family: 'Comic Sans MS';
}

.nav-item {
  font-size: 19px;
  width: 100%;
  margin-right: 20px;
}

.list {
  text-align: left;
  font-display: block;
  width: 100%;
  margin-bottom: 20px
}

.list-group-item {
  text-align: center;
  font-display: relative;
  align-items: center;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

#submit {
  margin-top: 10px;
}

#published {
  background-color: blueviolet;
  margin-right: 5px;
}

#delete {
  background-color: blueviolet;
  margin-right: 5px;
}

#update {
  background-color: blueviolet;
  margin-right: 5px;
}

h3 {
  font-family: 'Comic Sans MS';
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
}

.username {
  color: black;
  font-family: Verdana;
  font-size: 20px;
  text-align: center;
}

.gmail {
  color: black;
  font-family: Verdana;
  font-size: 20px;
  text-align: center;
}

#like {
  text-align: center;
  align-items: center;
}

.like-button-container {
  display: flex;
  justify-content: left;
  align-items: left;
}

.like-button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.like-button:hover {
  color: #8c3ee5;
}


/* For mobile screens */
@media (max-width: 768px) {
  .like-button-container {
    align-items: left;
    justify-content: left;
    text-align: center;
  }

  .like-button {
    font-size: 12px;
    border: none;
    margin: 0;
    align-items: left;
    justify-content: left;
    text-align: center;
  }
}

#reactions>* {
  display: inline-block;
}

.comentarios>* {
  display: inline-block;
}

#newcomment{
  margin-bottom: 5px;
}

.comentarios {
  align-items: left;
  text-align: left;
  margin-bottom: 5px;
}

#upload {
  margin-top: 8px;
  border-radius: 8px;
}

.identificacion {
  border-color: #333;
  background-color: #2079b941;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Comic Sans MS';
  font-size: 12;
  display: flex;
  width: 100%;
  top: 20px;
}

.identificacion>div {
  width: 50%;
}

.identificacion img {
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.name {
  margin-top: 50px;
}

.post img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
  font-family: 'Comic Sans MS';
  margin-top: 10px;
}

.comment-list {
  margin-left: 5px;
}

.list-group {
  font-display: flex;
}

.cont-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout {
  align-items: right;
  text-align: right;
  font-size: 19px;
}