.navbar {
  background: linear-gradient(240deg, pink, violet, purple);
}

.img-home{
  margin-left: 10px;
  border-radius: 50%;
}

.container h2 {
  text-align: center;
  margin: 25px auto;
}

.nav-link {
  margin-left: 50%;
  font-family: 'Comic Sans MS';
}

.nav-item {
  margin-left: 15px;
  font-size: 19px;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

#submit{
  margin-top: 10px;
}

#published {
  background-color: blueviolet;
  margin-right: 5px;
}

#delete{
  background-color: blueviolet;
  margin-right: 5px;
}

#update {
  background-color: blueviolet;
  margin-right: 5px;
}

h3 {
  font-family: 'Comic Sans MS';
  font-weight: bold;
  color: aqua;
}